In [34]:
# Import all the libraries we will be using
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# read te data csv file
movies_df = pd.read_csv("movies.csv",encoding="ISO-8859-1")
movies_df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [35]:
# Let's see how many null values do we have in %

for col in movies_df: # Go throught all columns
    pct_null = np.mean(movies_df[col].isnull()) # calculate how much null values there is ( in % )
    print(f"Column name : {col} \t==> Percent of null values = {pct_null} % ")

Column name : name 	==> Percent of null values = 0.0 %
Column name : rating 	==> Percent of null values = 0.010041731872717789 %
Column name : genre 	==> Percent of null values = 0.0 %
Column name : year 	==> Percent of null values = 0.0 %
Column name : released 	==> Percent of null values = 0.0002608242044861763 %
Column name : score 	==> Percent of null values = 0.0003912363067292645 %
Column name : votes 	==> Percent of null values = 0.0003912363067292645 %
Column name : director 	==> Percent of null values = 0.0 %
Column name : writer 	==> Percent of null values = 0.0003912363067292645 %
Column name : star 	==> Percent of null values = 0.00013041210224308815 %
Column name : country 	==> Percent of null values = 0.0003912363067292645 %
Column name : budget 	==> Percent of null values = 0.2831246739697444 %
Column name : gross 	==> Percent of null values = 0.02464788732394366 %
Column name : company 	==> Percent of null values = 0.002217005738132499 %
Column name : runtime 	==> Percent of null values = 0.0005216484089723526 %

In [36]:
# Replace null (NaN) values with 0
for col_name in movies_df: # go throught columns
    if movies_df[col_name].dtypes != 'object': # where column is int64 or float64
        movies_df [col_name] = movies_df [col_name].replace(np.nan, 0 )#Replace null values with 0 using numpy np.nan

movies_df

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,0.0,NaN,90.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,0.0,0.0,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,0.0,Embi Productions,0.0
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",0.0,0.0,James Randall,James Randall,Christina Roz,United States,15000.0,0.0,NaN,120.0
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,0.0,0.0,PK 65 Films,102.0

In [37]:
# We should replace the released column int 2 columns ( realease_date & released_in).
# We will then extract the year from realease_date and compare it to the year column 
    # to see if there is any difference in the date

In [38]:
# Get the released_date column
movies_df["released_date"] = movies_df["released"].str.split("(").str.get(0).str.strip()

In [52]:
# extract the released year from released_date column
movies_df["year_released"] = pd.DatetimeIndex(movies_df.released_date).year

In [57]:
# Get the released_in column
movies_df["released_in"] = movies_df["released"].str.split("(").str.get(1).str.strip().str.replace(')',' ')

In [61]:
# Check the dataframe column types
movies_df.dtypes

name              object
rating            object
genre             object
year               int64
released          object
score            float64
votes            float64
director          object
writer            object
star              object
country           object
budget           float64
gross            float64
company           object
runtime          float64
released_date     object
year_released     object
released_in       object
dtype: object

In [69]:
# We will try and change column type 

# Change budget data type from float to int
movies_df.budget = movies_df.budget.astype('int64') # Convert budget column to integer type

# Change gross data type from float to int
movies_df.gross = movies_df.gross.astype('int64')

# Change votes data type from float to int
movies_df.votes = movies_df.votes.astype('int64')

# Change runtime data type from float to int
movies_df.runtime = movies_df.runtime.astype('int64')

# Convert it from float to object 
movies_df.year_released = movies_df.year_released.astype('object')

In [65]:
# there is lots of fdifferences between the year column and the year_released column data

movies_df[movies_df.year_released != movies_df.year]

name             1326
rating           1297
genre            1326
year             1326
released         1324
score            1326
votes            1326
director         1326
writer           1325
star             1326
country          1324
budget           1326
gross            1326
company          1323
runtime          1326
released_date    1324
year_released    1324
released_in      1324
dtype: int64

In [68]:
# Sort the data using gross ( revenue ) column in an ascending order
movies_df.sort_values( "gross", ascending=False).head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,released_date,year_released,released_in
5445,Avatar,PG-13,Action,2009,"December 18, 2009 (United States)",7.8,1100000,James Cameron,James Cameron,Sam Worthington,United States,237000000,2847246203,Twentieth Century Fox,162,"December 18, 2009",2009,United States
7445,Avengers: Endgame,PG-13,Action,2019,"April 26, 2019 (United States)",8.4,903000,Anthony Russo,Christopher Markus,Robert Downey Jr.,United States,356000000,2797501328,Marvel Studios,181,"April 26, 2019",2019,United States
3045,Titanic,PG-13,Drama,1997,"December 19, 1997 (United States)",7.8,1100000,James Cameron,James Cameron,Leonardo DiCaprio,United States,200000000,2201647264,Twentieth Century Fox,194,"December 19, 1997",1997,United States
6663,Star Wars: Episode VII - The Force Awakens,PG-13,Action,2015,"December 18, 2015 (United States)",7.8,876000,J.J. Abrams,Lawrence Kasdan,Daisy Ridley,United States,245000000,2069521700,Lucasfilm,138,"December 18, 2015",2015,United States
7244,Avengers: Infinity War,PG-13,Action,2018,"April 27, 2018 (United States)",8.4,897000,Anthony Russo,Christopher Markus,Robert Downey Jr.,United States,321000000,2048359754,Marvel Studios,149,"April 27, 2018",2018,United States

In [ ]:
# We could change the max ( rows / columns ) shows when calling the datafame

pd.set_option('display.max_columns',15) # or None to show all
pd.set_option('display.max_rows',20) # or None to show all

In [70]:
# Find duplicated rows in the dataframe :

movies_df[movies_df.duplicated(subset=None, keep='first')] 
# subset = None    --> the search is based on all columns
# keep   = "first" --> Keep the first row and show the rest

# No data ==> no duplicates

Empty DataFrame
Columns: [name, rating, genre, year, released, score, votes, director, writer, star, country, budget, gross, company, runtime, released_date, year_released, released_in]
Index: []

In [73]:
# Find duplicated rows in the dataframe 2:
movies_df[movies_df.duplicated(subset=["company","country","director","genre","writer",'year'], keep = False)] 

# subset = Multiple cols --> the search is based on those columns
# keep   = False         --> Show all the duplicate rows

# Few data found

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,released_date,year_released,released_in
643,Weird Science,PG-13,Comedy,1985,"August 2, 1985 (United States)",6.6,83000,John Hughes,John Hughes,Anthony Michael Hall,United States,7500000,38934048,Universal Pictures,94,"August 2, 1985",1985,United States
648,The Breakfast Club,R,Comedy,1985,"February 15, 1985 (United States)",7.8,367000,John Hughes,John Hughes,Emilio Estevez,United States,1000000,51525171,Universal Pictures,97,"February 15, 1985",1985,United States
4256,The Matrix Reloaded,R,Action,2003,"May 15, 2003 (United States)",7.2,529000,Lana Wachowski,Lilly Wachowski,Keanu Reeves,United States,150000000,741847937,Warner Bros.,138,"May 15, 2003",2003,United States
4268,The Matrix Revolutions,R,Action,2003,"November 5, 2003 (United States)",6.7,459000,Lana Wachowski,Lilly Wachowski,Keanu Reeves,United States,150000000,427344325,Warner Bros.,129,"November 5, 2003",2003,United States
5503,Gamer,R,Action,2009,"September 4, 2009 (United States)",5.8,131000,Mark Neveldine,Mark Neveldine,Gerard Butler,United States,50000000,40828540,Lionsgate,95,"September 4, 2009",2009,United States
5540,Crank: High Voltage,R,Action,2009,"April 17, 2009 (United States)",6.2,143000,Mark Neveldine,Mark Neveldine,Jason Statham,United States,20000000,34572541,Lionsgate,96,"April 17, 2009",2009,United States
6272,Nymphomaniac: Vol. I,Not Rated,Drama,2013,"March 6, 2014 (United States)",6.9,119000,Lars von Trier,Lars von Trier,Charlotte Gainsbourg,Denmark,0,13551156,Zentropa Entertainments,117,"March 6, 2014",2014,United States
6318,Nymphomaniac: Vol. II,Not Rated,Drama,2013,"March 20, 2014 (United States)",6.7,88000,Lars von Trier,Lars von Trier,Charlotte Gainsbourg,Denmark,0,4934725,Zentropa Entertainments,124,"March 20, 2014",2014,United States

In [ ]:
#Let's now try and find the correlations between those columns